.loader {
  position: relative;
  width: 100px;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke: #ffd700;
  stroke-linecap: round;
}
@-moz-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-o-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
.small-cha-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.small-cha {
  width: 100px;
  height: 120px;
  padding: 0.5rem;
  box-sizing: border-box;
}
.small-cha img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-out;
  cursor: pointer;
  box-sizing: border-box;
}
.small-cha img:hover {
  border-radius: 50%;
  border: 3px solid #ffd700;
}
.small-cha span {
  height: 1.2rem;
  display: block;
  overflow: hidden;
  font-size: 0.9rem;
  text-align: center;
}
.skin-pop-up {
  position: fixed;
  left: 15vw;
  top: 10vh;
  width: 70vw;
  background-color: #fff;
  min-height: 20px;
  animation-fill-mode: forwards;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24);
}
.skin-pop-up__image-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skin-pop-up__image-wrapper .loader {
  position: absolute;
  top: -9px;
  left: -9px;
  width: 102px;
}
.skin-pop-up__champion-image {
  border: 3px solid #1469cc;
  border-radius: 50%;
  box-sizing: border-box;
  width: 84px;
  height: 84px;
}
body {
  font-family: sans-serif;
}
