@import './variables'

.small-cha-list
  display flex
  flex-direction row
  flex-wrap wrap

.small-cha
  width 100px
  height 120px
  padding 0.5rem
  box-sizing border-box
  img
    width 100%
    height auto
    transition all 0.3s ease-out
    cursor pointer
    box-sizing border-box
    &:hover
      border-radius 50%
      border 3px solid $primary
  span
    height 1.2rem
    display block
    overflow hidden
    font-size 0.9rem
    text-align center